.loginContainer {
  height: 100vh;
  display: grid;
  place-content: center;
}

.loginContainer form {
  width: 500px;
  height: fit-content;
  padding: 0 50px 50px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .form__group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 16px;
      font-weight: 500;
      line-height: 47px;
      width: fit-content;
    }

    input {
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .login__button {
      background-color: salmon;
      border: none;
      outline: none;
      color: white;
      font-size: 18px;
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}
